<ion-header no-border>

	<ion-navbar color='navbarColor'>
		<ion-buttons start>
			<button ion-button icon-only>
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>
			연락처
		</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="userCreate()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)">
	</ion-searchbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item-group *ngFor="let group of groupedContacts">

			<ion-item-divider light *ngIf="!searchVal">{{group.letter}}</ion-item-divider>
			<ion-item *ngFor="let contact of group.contacts" (click)="userDetail(contact)">{{contact.name}}</ion-item>

		</ion-item-group>
	</ion-list>
</ion-content>
