<div class="user-controller">
	<div>
		<button ion-button icon-only id="message">
			<ion-icon name="add" ></ion-icon>
		</button>
		<p>메세지</p>
	</div>
	<div>
		<button ion-button icon-only (click)="call()" id="call">
			<ion-icon name="add"></ion-icon>
		</button>
		<p>통화</p>
	</div>
	<div>
		<button ion-button icon-only id="FaceTime">
			<ion-icon name="add"></ion-icon>
		</button>
		<p>FaceTime</p>
	</div>
	<div>
		<button ion-button icon-only id="mail">
			<ion-icon name="add"></ion-icon>
		</button>
		<p>메일</p>
	</div>
</div>