<ion-header>

	<ion-navbar>
		<ion-title></ion-title>
		<ion-buttons start>
			<button ion-button (click)="cancel()">
				<span color="primary" showWhen="ios">cancle
				</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
				<span color="primary" showWhen="ios">done
				</span>
				<ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
		<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
		<div class="profile-image-wrapper" (click)="getPicture()">
			<div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
				<ion-icon name="add"></ion-icon>
				<div>
				</div>
			</div>
			<div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
		</div>

		<ion-list>
			<ion-item>
				<ion-input type="text" placeholder="성" formControlName="familyname"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="이름" formControlName="name" value="{{name}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="휴대전화" formControlName="phone" value="{{phone}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="이메일" formControlName="email" value="{{email}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="홈페이지" formControlName="website" value="{{website}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="우편번호" formControlName="zipcode" value="{{zipcode}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="거리" formControlName="street" value="{{street}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="번지" formControlName="suite" value="{{suite}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="도시" formControlName="city" value="{{city}}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="회사" formControlName="company" value="{{company}}"></ion-input>
			</ion-item>


		</ion-list>
	</form>
	<ion-item (click)="openMenu()">연락처 삭제</ion-item>
</ion-content>